.App {
  background-color: white;
}

button.faded {
  color: #bbb;
}

.Quiz {
  position: fixed;
  border: 1px black solid;
  padding: 30px;
  top: 30px;
  width: 80%;
  margin: 30px auto;
  left: 30px;
  background-color: white;
}

.Quiz .gradedChars .newSyllable {
  margin-left: 4px;
}
.Quiz .gradedChars .correct {
  color: green;
}
.Quiz .gradedChars .incorrect {
  background-color: red;
  color: white;
}
.Quiz .gradedChars .syllable-divider {
  color: #ccc;
}
.Quiz .gradedChars .morpheme {
  clear: both;
}
.Quiz .gradedChars .morpheme .gloss {
  float: left;
}
.Quiz .gradedChars .morpheme .qalam {
  float: left;
}
.Quiz .gradedChars .morpheme .arabic {
  float: right;
  font-family: "Kawkab Mono Light";
  font-weight: 100;
  font-size: 14pt;
}