.App {
  background-color: white;
}

.Quiz {
  position: fixed;
  border: 1px black solid;
  padding: 30px;
  top: 30px;
  width: 80%;
  margin: 30px auto;
  left: 30px;
  background-color: white;
}

.Quiz .gradedChars div {
  display: inline-block;
}
.Quiz .gradedChars .newSyllable {
  margin-left: 4px;
}
.Quiz .gradedChars .newWord {
  margin-left: 15px;
}
.Quiz .gradedChars .correct {
  color: green;
}
.Quiz .gradedChars .incorrect {
  background-color: red;
  color: white;
}
